.wrap01{
	width: 6.4rem;
	height: 3.20rem;
	background: url(../img/act_spring/wrap_bg01.jpg) no-repeat;
	background-size: 6.4rem 3.20rem;
}
.wrap02{
	width: 6.4rem;
	height: 2.29rem;
	background: url(../img/act_spring/wrap_bg02.jpg) no-repeat;
	background-size: 6.4rem 2.29rem;
}
.wrap03{
	width: 6.4rem;
	height: 6.45rem;
	background: url(../img/act_spring/wrap_bg03.jpg) no-repeat;
	background-size: 6.4rem 6.45rem;
	padding-top: 0.47rem;
}
.wrap04{
	width: 6.4rem;
	height: 6.70rem;
	background: url(../img/act_spring/wrap_bg04.jpg) no-repeat;
	background-size: 6.4rem 6.70rem;
	padding:0 0.2rem ;
}
.wrap05{
	width: 6.4rem;
	height: 6.78rem;
	background: url(../img/act_spring/wrap_bg05.jpg) no-repeat;
	background-size: 6.4rem 6.78rem;
	position: relative;
	padding-top: 5.6rem;
}
/*第一行*/
.list1{
	width: 5.60rem;
	margin: 0 auto;
}
.list1 li,.list2 li{
	width:2.74rem;
	height: 2.76rem;
	background-size: 2.74rem 2.76rem;
	background-repeat: no-repeat;
	position: relative;	
	float: left;
}
.list1 li:nth-child(1){
	background-image: url(../img/act_spring/list01.png) ;
	margin-top: 0;
}
.list1 li:nth-child(2){
	background-image: url(../img/act_spring/list02.png) ;
	float: right;
}

.list1-btn{
	position:absolute;
	width: 1.43rem;
	height: 0.53rem;
	bottom:0.4rem;
	right:0.69rem;
	background: url(../img/act_spring/buy_btn.png) no-repeat;
	background-size:1.43rem 0.53rem ;
}
/*第二行*/
.list2{
	width:2.74rem;
	height: 2.76rem;
	margin: 0 auto;
	margin-top: 0.15rem;
}
.list2 li:nth-child(1){
	background-image: url(../img/act_spring/list03.png) ;
}
/*规则*/
.wrap04 h3{
	font-size: 0.3rem;
	line-height: 0.72rem;
	color: #f3eaa9;
}
.wrap04 ul li{
	font-size: 0.3rem;
	line-height: 0.72rem;
	color: #f3eaa9;
	letter-spacing: 0.7px;
	text-align: justify;
}
.ewm-foot{
	width: 4.8rem;
	height: 4.8rem;
	position: absolute;
	left: 50%;
	margin-left:-2.4rem;
	bottom: 1.55rem;
	
}
.wrap05 p{
	font-size: 0.24rem;
	text-align: center;
	color: #f3eaa9;
}
