body{
	background-color: #f9693c;
}
.head{
	width: 6.4rem;
	height: 1.38rem;
	background:url(../img/headtop.png) no-repeat;
	background-size: 6.4rem 1.38rem;
	position: relative;
	z-index: 2;
}

.swiper-slide img{
	width: 6.4rem;
	height: 3.88rem;
	background-size: 100%;
	 

}
.swiper-pagination .swiper-pagination-bullet{
	width: 8px;
	height: 8px;
	border-radius: 100%;
}

.swiper-pagination .swiper-pagination-bullet{
	background-color: #90889c;
}
.swiper-pagination .swiper-pagination-bullet-active{
	background-color: #fff;
}
.swiper-container{
	margin-top: -0.26rem!important;

}
/*活动标题*/
.act-title{
	width: 6.4rem;
	height: 0.8rem;
	background: url(../img/act_title-bg.jpg) no-repeat;
	background-size: 6.4rem 0.8rem;
	padding-top: 0.31rem;
	padding-left:0.7rem ;
}
.act-title h1{
	font-size: 0.22rem;
	line-height: 0.41rem;
	color: #fff;
}
/*活动列表*/
.act-lists{
	width: 6.4rem;
}
.act-lists li{
	width: 6.4rem;
	height: 1.8rem;
}
.act-lists li a{
	width: 6.4rem;
	height: 1.8rem;
	background-repeat: no-repeat;
	background-size: 6.4rem 1.8rem;
	position: relative;
	display: block;
}
.act-lists li:nth-child(1) a{
	background-image: url(../img/act01.jpg);
}
.act-lists li:nth-child(2) a{
	background-image: url(../img/act02.jpg);
}
.act-lists .tip{
	height: 0.6rem;
	width: 6.4rem;
	position:absolute;
	bottom: 0;
	left: 0;
	background: rgba(19,19,19,.68);
	padding-left: 0.3rem;
	padding-right: 0.2rem;
}
.tip dt{
	float:left;
	font-size: 0.22rem;
	line-height: 0.6rem;
	color:#fff;
}
.tip dd{
	float:right;
	font-size: 0.18rem;
	line-height: 0.6rem;
	color:#fff;
}
