.side-f{
    width: 56px;
    position: fixed;
    bottom: 5%;
    margin-top: -50px;
    right: 70px;
    z-index: 10;
}
.side-f li a{
    width: 56px;
    height: 56px;
    display: block;
    background: url(../images/act02/fudong.png) 0 0 no-repeat;
    margin: 0 auto 14px;
}

.side-f .icon-top{
    background: url(../images/act02/up.png) 0 0 no-repeat;
    margin: 0 auto 30px;
}
