.rt{
    float: right;
}

.lf{
    float: left;
}

.nav-in .mr0{
    margin-right: 0;
}

.heart{
    width: 1000px;
    margin: 0 auto;
}
.top-nav{
    height: 60px;
    width: 100%;
    position: relative;
    z-index: 10;
    letter-spacing: 0.7px;
    border-top: 1px solid transparent;
    transition:.2s all ease;
	background: #fff;
}
.top-nav1{
    background: rgba(255,255,255,.9);
    position: fixed;
    top:0;
    border:1px solid #e7e7e7;

    /*display: none;*/

}
.nav{
	width:1000px;
    height: 40px;
    padding: 10px 0;
    margin: 0 auto;
}




.logo-in{
    width:122px;
    height:41px;
    float:left;
}
.logo-in a{
    width:122px;
    height:41px;
    background:url(../images/act02/logo.png) no-repeat;
    text-indent:-9999em;
    display:block;
    overflow:hidden;
	background-size:110px;

}
.nav-in{
    width: 838px;
    height: 41px;
    float: right;

}
.child-supply .lists{
    width: 800px;
    height: 36px;
    margin-top: 0;
}
.child-other .lists{
    width: 800px;
    margin-top: 8px;
}
.nav-in>ul>li {
    float:left;
    margin-right: 30px;
   
}
/*.nav-in ul .nav-btn{
    padding-top:2px;
    height:58px;
}*/
.nav-btn{
    display: block;
    padding: 0 30px;
    margin-top: 2px;
    line-height: 30px;
    border-radius: 4px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #e6802d;
}

.nav-btn-login {
    border-radius: 4px;
    text-align: center;
}

.nav-btn-login a{
    color:#e6802d ;
}
.nav-btn-login a:hover{
    color: #fff;
    background-color: #e6802d;
}

.nav-btn-register a{
    color: #fff;
    background-color:#f0880e ;
}
.nav-btn-register a:hover{
    background-color: #ce740b ;
}


.nav-btn-register {
    display: block;
    border-radius: 4px;
    text-align: center;
}
.nav-main a{
    font-size:16px;
    /*font-weight: 600;*/
    text-align: left;
    font-family: 'Microsoft YaHei';
    line-height:36px;
    display: block;
    color: #8d8a8a;
}
.nav-main a:hover{
    color:#E06E4A;
}
.top-nav .nav-child{
    overflow: hidden;
    background: url(../images/act02/nav_bg.png);
    background-repeat: repeat-x;
    height: 360px;
    width: 100%;
    position: absolute;
    z-index: 10;
   /* display: none;*/
    top:60px;
    left: 0;
}
.nav-child .child-in{
    position: relative;
    width: 1000px;
    height: 325px;
    margin:0 auto;
   /* padding-top:30px;*/
}

.child-product{
    width: 136px;
    height: 246px;
    position: absolute;
    left: 0;
    top: 20px;
}
.child-supply{
    /*width: 508px;*/
    /*height: 102px;*/
    position: absolute;
    left: 180px;
    top: 20px;
}
.child-other{
    width: 508px;
    height: 78px;
    position: absolute;
    left: 180px;
    top: 202px;
}

.child-product .lists{
    width: 130px;
    height: 240px;
}

.c-title{
    font-size: 16px;
    padding-left: 8px;
    color:#b5b9c1;
    line-height: 46px;
    font-weight: bold;
}
.underline{
    width: 128px;
    height: 1px;
    display: block;
    margin-left: 6px;
    background-color: #565c68;
}

.child-product .lists{
    margin-top: 8px;
}
.child-product .lists li{
    height: 36px;
    float: left;
    text-align: center;
    padding: 0 6px;
    line-height: 36px;    
    text-indent: 7px;
    position: relative;
}
.child-product .lists li em{
	position: absolute;
	width: 37px;
	height: 18px;
	right: -39px;
    top: 10px;
	background-color: #36a3ff;
	text-align: center;
	line-height: 18px;
	font-size: 14px;
	text-indent: 0px;
	color: #fff;
	z-index:-1;
}
.child-product .lists li .sx{
	background-color: #ff3657;
}
.child-product .lists li:hover{
    background-color: #414a59;
}
/* 细分产品*/
.child-supply ul li{
    float: left;
}


.lists-div{
    width: 800px;
    height: 36px;
    margin-top: 8px;
}

.child-supply b {
    color: #8d8a8a;
    height: 36px;
    margin: 0 20px;
    line-height: 36px;
    font-weight: normal;
}


.lists-a:hover{
    background-color: #414a59;
}


.child-supply a{
    height: 36px;
    float: left;
    color: #aeb4be;
    text-align: center;
    padding: 0px 10px;
    line-height: 36px;
    overflow: hidden;
}


.child-supply .lists li a:hover{
    background-color: #414a59;
}
/*快捷入口*/
.child-other ul li{
    float: left;
}


.child-other .lists li b{
    margin: 0px 65px;
}


.child-other .lists li p{
    float: left;
    padding: 0 10px;
}

.child-other .lists li a{
    margin-left: 10px;
}

.child-other .lists li p:hover{
    background-color: #414a59;
}

/*应用场景*/
.child-scenarios{
    width: 126px;
    height: 260px;
    position: absolute;
    right: 0;
    top: 20px;
}

.child-scenarios ul {
    margin-top: 8px;

}
.child-scenarios ul li {
    height: 36px;
    padding: 0 8px;
    float: left;

}

.child-scenarios ul a{
    padding-left: 7px;
}

.child-scenarios ul li:hover{
    background-color: #414a59;
}


/**/
.lists li b{
    color: #8d8a8a;
    height: 36px;
    margin: 0 20px;
    line-height: 36px;
    font-weight: normal;
}


.lists li a{
    display: block;
    float: left;
    color: #aeb4be;

}
/*.child-supply .lists li a{
    text-align: center;
}
*/

.lists-icon{
    width: 18px;
    height: 16px;
    display: block;
    float: left;
    margin-top: 10px;
    background: url(../images/act02/lists-icons.png) no-repeat;
}
.lists-icon-01{
    background-position: 0 0 ;
}
.lists-icon-02{
    background-position: -18px 0px;
}
.lists-icon-03{
    background-position: -36px 0px;
}
.lists-icon-04{
    background-position: -54px 0px;
}
.lists-icon-05{
    background-position: -18px -16px;
}
.lists-icon-06{
    background-position: -36px -16px;
}
.lists-icon-07{
    background-position: -54px -16px;
}
.lists-icon-08{
    background-position: 0px -32px;
}
.lists-icon-09{
    background-position: -18px -32px;
}
.lists-icon-10{
    background-position: -36px -32px;
}
.lists-icon-11{
    background-position: 0px -48px;
}
.lists-icon-12{
    background-position: -18px -48px;
}
.lists-icon-13{
    background-position: -36px -48px;
}
.lists-icon-14{
    background-position: -54px -48px;
}
.lists-icon-15{
    background-position: 0px -64px;
}





.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}


.hiding { opacity: 0 }
.showing { opacity: 1 }

.foot{
    width: 100%;
    height: 296px;
    position: relative;
    background: url(../images/act02/foot-bg.png) 50% -127px no-repeat;
    padding-top: 72px;
    font-size: 12px;
}
.foot .foot-in{
    margin: 0 auto;
    width: 1000px;
    height: 182px;
    background: rgba(255,255,255,0.2);
    padding: 30px 0 0 30px;
    
}
.foot .foot-in .code2{
    float:left;
    width: 296px;
    height: 158px;
}
.foot .foot-in .foot-txt{
    width: 680px;
    height: 150px;
    float:left;
    line-height:20px;
    padding-top: 15px;
}
.foot .foot-in .foot-txt p{
    color:#fff;
}
.foot-txt .linklist{
    width: 830px;
    position: absolute;
    top: 300px;
    opacity: .3;
    filter:alpha(opacity=30);   
    -moz-opacity:0.3;   
    -khtml-opacity: 0.3;   
     
}
.foot-txt .linklist li{
    float:left;
    padding: 0 4px;
    color:#fff;
}
.foot-txt .linklist .link-one{
    padding:0;
    color:#073c50;
}
.foot-txt .linklist li a{
    color:#06384B;
}
.more{

   padding-top: 18px;
}
.more .more-in{
    background:url(../images/act02/more-foot.png) 0 13px no-repeat;
    padding-left:20px;
    width: 247px;
    float:left;
    padding-top: 9px;
}
.more .tel{
    float:left;
    padding-top: 9px;
    width: 148px;
}
.more span{
    float:right;
	margin-top: 7px;
}
.more .rz1{
    width: 67px;
    height: 24px;
}
.more .about_btn{
	float: left;
}
.foot .partner{
	color:#fff;
}